body {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;

    font-family: 
}

#form, #form ul {
    list-style: none;
}

/*to make a fret stand out*/
.emphasized {
    color: #964e00;
    font-weight: bolder;
}
/*to hide a diatonic fret*/
.hidden {
    color: #606060;
}

.interval-hidden {
    color: #525252;
}

.disabled{
    display: none;
}

/*https://stackoverflow.com/questions/69430/is-there-a-way-to-make-text-unselectable-on-an-html-page*/
*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
    -ms-user-select: none;
    user-select: none;
}
#guitar {
    /*font-family: Hack;*/
    font-family: monospace;
    white-space: pre;
}

.inline {
    display: inline;
}

#key-button {
    width: 50px;
}

#mode-button {
    width: 150px;
}

#scale {
    display: inline;
    font-size: 1.3em;
    padding-left: 1em;
}

#fret-range {
    width: 50%;
    margin-top: 10px;
}

.fret {
    /*https://stackoverflow.com/questions/2491068/does-height-and-width-not-apply-to-span*/
    bottom: 0;
    display: inline-block;
    width: 2.4em;
    height: 1em;
    vertical-align: top;
    /*border: 1px solid green;*/
}

.char {
    display: inline-block;
    width: .6em;
    text-align: center;
    position: relative;
    margin-top: -.22em;
    /*border: 1px solid red;*/
}

#guitar-font-slider {
    width: 50%;
    margin-top: 10px;
}

#btnCopy {
    margin-top: 10px;
    margin-bottom: 10px;
}

.dpref {
    display: inline-block;
    width: 170px;
}

#amount, #guitar-font-text {
    margin-top: 5px;
}
